server:
  port: 8081

spring:
  kafka:
    brokers:
      producer: b-1.prod-msk-wms-01.o1u6vb.c2.kafka.ap-northeast-2.amazonaws.com:9092,b-2.prod-msk-wms-01.o1u6vb.c2.kafka.ap-northeast-2.amazonaws.com:9092,b-3.prod-msk-wms-01.o1u6vb.c2.kafka.ap-northeast-2.amazonaws.com:9092
      consumer: b-1.prod-msk-wms-01.o1u6vb.c2.kafka.ap-northeast-2.amazonaws.com:9092,b-2.prod-msk-wms-01.o1u6vb.c2.kafka.ap-northeast-2.amazonaws.com:9092,b-3.prod-msk-wms-01.o1u6vb.c2.kafka.ap-northeast-2.amazonaws.com:9092
    topics:
      wcs-out:
        destination:
          tote-scan:  PROD-MSG-OUTBOUND-WMS-WCS_AP_TOTE_SCAN
          tote-release:  PROD-MSG-OUTBOUND-WMS-WCS_AP_TOTE_RELEASE
          tote-cellExceptTxn:  PROD-MSG-OUTBOUND-WMS-WCS_AP_TOTE_CELL_EXCEPTION
          packQpsComplet:  PROD-MSG-OUTBOUND-WMS-WCS_AP_PACKING_QPS_COMPLETE
          pickQpsComplet:  PROD-MSG-OUTBOUND-WMS-WCS_AP_PICKING_QPS_COMPLETE
          invoiceSortComplet:  PROD-MSG-OUTBOUND-WMS-WCS_AP_SHIP_SORT_COMPLETE
          ordmadeNotfullyReplay:  PROD-MSG-OUTBOUND-WMS-WCS_AP_ADDITIONAL_ITEM_PICKING
          invoicePrintComplet:  PROD-MSG-OUTBOUND-WMS-WCS_AP_INVOICE_PRINT_COMPLETE
          ordmadeNotfully:  PROD-MSG-OUTBOUND-WMS-WCS_AP_INCOMPLETE_ORDER_PICKING_STOP
          qpsNumUseCell:  PROD-MSG-OUTBOUND-WMS-WCS_AP_QPS_CELL_AVAILABLE
          dasNumUseCell:  PROD-MSG-OUTBOUND-WMS-WCS_AP_DAS_CELL_AVAILABLE
  
  datasource:
    driver-class-name: oracle.jdbc.driver.OracleDriver
    url: jdbc:oracle:thin:@10.12.43.111:1521:wcsprod
    username : s_wcs
    password : 1!smartAPP
    
    hikari:
      minimum-idle: 15
      maximum-pool-size: 100
      idle-timeout:  10000
      connection-timeout: 10000
      validation-timeout: 10000
      maxLifetime: 580000
      data-source-properties:
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
        useServerPrepStmts: true
        useLocalTransactionState: true
        rewriteBatchedStatements: true
        cacheResultSetMetadata: true
        cacheServerConfiguration: true
        maintainTimeStats: false
        
  batch:
    job: 
      enabled: false

  task:
    scheduling:
      pool:
        size: 13
        
spring.main.allow-bean-definition-overriding: true

#2021.03.02 url 변경 - 컬리
#wms.regionMasterUrl: https://tms.api.kurly.services/tms/v1/common/wms/region/zipmasters
wms.regionMasterUrl: https://tam.api.kurly.services/region/zipmasters


# mybatis 설정.
mybatis:
  mapper-locations: classpath:/mybatis/mapper/*.xml
  config-location: classpath:/mybatis-config.xml

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    com.memorynotfound: DEBUG
