<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgcns.wcs.kurly.repository.DasNumUseCellRepository">
   
  <select id="selectDasNumUseCellList" resultType="com.lgcns.wcs.kurly.dto.DasNumUseCellData">
  	/* [DasNumUseCellMapper.xml] selectDasNumUseCellList */
	<![CDATA[
	SELECT 
		UC.WAREHOUSE_KEY       AS  warehouseKey
		, UC.CELL_TYPE_STATUS  AS  cellTypeStatus
		, UC.DAS_CELL_GROUP_ID AS  dasCellGroupId
		, (CASE WHEN UC.CELL_TYPE_STATUS = 'DELETE' THEN 0 
				ELSE UC.DAS_NUM_USE_CELL END) AS  dasNumUseCell
		, ''                   AS  dasNumAttr1
		, ''                   AS  dasNumAttr2 
		, TO_CHAR(SYSDATE,'YYYYMMDD') AS batchRunDate
		, TO_CHAR(SYSDATE,'HH24MISS') AS batchRunTime         
	FROM o_wcs.TB_DAS_GROUPID_USE_CELL UC
	WHERE 1 = 1 
		AND UC.USE_CELL_INTF_YN = 'N'
		AND UC.CREATED_DATE     >= TO_CHAR(SYSDATE-3, 'YYYYMMDD')
	ORDER BY DAS_CELL_GROUP_ID ASC, MODIFIED_DATE ASC, MODIFIED_TIME ASC
	]]>  
  </select>
  
  <update id="updateDasNumUseCell" parameterType="Map">
  /* [DasNumUseCellMapper.xml] updateDasNumUseCell */
  	UPDATE o_wcs.TB_DAS_GROUPID_USE_CELL
		SET 
			USE_CELL_INTF_YN  = #{useCellIntfYn}
			, USE_CELL_INTF_DT   = SYSDATE
			, USE_CELL_INTF_CODE  = #{useCellIntfCode}
			, USE_CELL_INTF_MEMO  = #{useCellIntfMemo}
			, MODIFIED_DATE  = TO_CHAR(SYSDATE,'YYYYMMDD')
			, MODIFIED_TIME  = TO_CHAR(SYSDATE,'HH24MISS')
			, MODIFIED_USER  = 'WCS_BATCH'
	WHERE WAREHOUSE_KEY        = #{warehouseKey}
		AND DAS_CELL_GROUP_ID  = #{dasCellGroupId}
		AND CELL_TYPE_STATUS   = #{cellTypeStatus}
		AND USE_CELL_INTF_YN   = 'N'  
  </update>
  
  <select id="selectDasNumUseCellCount" parameterType="Map" resultType="int">
  	/* [DasNumUseCellMapper.xml] selectDasNumUseCellCount */
	SELECT 
		COUNT(*)
	FROM o_wcs.TB_DAS_GROUPID_USE_CELL UC
	WHERE UC.WAREHOUSE_KEY         = #{warehouseKey}
		AND UC.DAS_CELL_GROUP_ID   = #{dasCellGroupId}
		AND UC.CELL_TYPE_STATUS    = 'MAKE'
		AND UC.USE_CELL_INTF_YN = 'Y' 
  </select>
  
  <update id="updateDasNumUseCellList" parameterType="map">
  /* [DasNumUseCellMapper.xml] updateDasNumUseCellList */
    MERGE INTO o_wcs.TB_DAS_GROUPID_USE_CELL  HDR
    	USING (
    		<foreach collection="updateList" item="item" index="index" separator="UNION ALL">
    		SELECT
				#{warehouseKey}     AS  WAREHOUSE_KEY ,
				#{dasCellGroupId}   AS  DAS_CELL_GROUP_ID  ,
				#{cellTypeStatus}   AS  CELL_TYPE_STATUS   ,
				#{useCellIntfYn}    AS  USE_CELL_INTF_YN   , 
				#{useCellIntfCode}  AS  USE_CELL_INTF_CODE ,
				#{useCellIntfMemo}  AS  USE_CELL_INTF_MEMO
    		FROM DUAL
   		   </foreach>
	) TB
	ON 
	(
			HDR.WAREHOUSE_KEY      = TB.WAREHOUSE_KEY
		AND HDR.DAS_CELL_GROUP_ID  = TB.DAS_CELL_GROUP_ID
		AND HDR.CELL_TYPE_STATUS   = TB.CELL_TYPE_STATUS
		AND HDR.USE_CELL_INTF_YN   = 'N' 
	)
	WHEN MATCHED THEN
		UPDATE
		<set>
			HDR.USE_CELL_INTF_YN  = TB.USE_CELL_INTF_YN  ,
			HDR.USE_CELL_INTF_DT   = SYSDATE  ,
			HDR.USE_CELL_INTF_CODE  = TB.USE_CELL_INTF_YN  ,
			HDR.USE_CELL_INTF_MEMO  = TB.USE_CELL_INTF_YN  ,
			HDR.MODIFIED_DATE  = TO_CHAR(SYSDATE,'YYYYMMDD')  ,
			HDR.MODIFIED_TIME  = TO_CHAR(SYSDATE,'HH24MISS')  ,
			HDR.MODIFIED_USER  = 'WCS_BATCH'
		</set>
  </update>
</mapper>