<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgcns.wcs.kurly.repository.ToteCellExceptTxnRepository">
   
  <select id="selectToteCellExceptTxn" resultType="com.lgcns.wcs.kurly.dto.ToteCellExceptTxnSelectData">
  	/* [ToteCellExceptTxnMapper.xml] selectToteCellExceptTxn */
    SELECT 
		ET.CELL_EXCEPT_SEQ  AS cellExceptSeq,
		ET.TOTE_ID          AS toteId,
		ET.TOTE_ID_SEQ      AS toteIdSeq,
		ET.WAREHOUSE_KEY    AS warehouseKey,
		ET.WMS_PICKING_DATE AS wmsPickingDate,
		'FIX'            AS pickingType,
		ET.ALLOC_TYPE       AS allocType,
		ET.EXCEPT_TXN_TYPE  AS exceptTxnType,
		ET.GROUP_NO         AS groupNo,
		ET.WORK_BATCH_NO    AS workBatchNo,
		ET.SHIP_ORDER_KEY   AS shipOrderKey,
		ET.SHIP_ORDER_ITEM_SEQ   AS shipOrderItemSeq,
		CT.EQP_ID        AS qpsNum,
		ET.SHIP_UID_KEY     AS shipUidKey,
		ET.SHIP_UID_ITEM_SEQ   AS shipUidItemSeq,
		ET.SKU_CODE         AS skuCode,
		ET.SKU_NAME         AS skuName,
		ET.SKU_SUB_NAME     AS skuSubName,
		ET.QTY_QPS_EXCEPT   AS qtyQpsExcept,
		ET.TO_SKU_CODE      AS toSkuCode,
		ET.TO_SKU_NAME      AS toSkuName,
		ET.TO_SKU_SUB_NAME  AS toSkuSubName,
		ET.FROM_SKU_CODE    AS fromSkuCode,
		ET.FROM_SKU_NAME    AS fromSkuName,
		ET.FROM_SKU_SUB_NAME AS fromSkuSubName,
		ET.PICKING_BATCH_NO  AS pickBatchGroup,
		TO_CHAR(SYSDATE, 'YYYYMMDD') AS insertedDate,
		TO_CHAR(SYSDATE, 'HH24MISS') AS insertedTime,
		ET.MODIFIED_USER   AS insertedUser
	FROM o_wcs.TB_QPS_CELL_EXCEPT_TXN ET
		LEFT OUTER JOIN o_wcs.TB_COM_CELL_MST CT
			ON CT.CELL_ID = ET.CELL_ID 
	WHERE ET.EXCEPT_IF_YN = 'N'
	ORDER BY ET.CELL_EXCEPT_SEQ ASC
  </select>
  
  <update id="updateToteCellExceptTxn" parameterType="Map">
  /* [ToteCellExceptTxnMapper.xml] updateToteCellExceptTxn */
  	UPDATE o_wcs.TB_QPS_CELL_EXCEPT_TXN
		SET
			EXCEPT_IF_YN =  #{exceptIfYn},
			EXCEPT_IF_DT =  SYSDATE,
			EXCEPT_IF_RET_CODE =  #{exceptIfRetCode},
			EXCEPT_IF_RET_MESSAGE = #{exceptIfRetMessage} ,
			MODIFIED_DATE = TO_CHAR(SYSDATE, 'YYYYMMDD') ,
			MODIFIED_TIME = TO_CHAR(SYSDATE, 'HH24MISS') ,
			MODIFIED_USER = #{modifiedUser}
	WHERE TOTE_ID = #{toteId}
	  AND TOTE_ID_SEQ = #{toteIdSeq}
	  AND CELL_EXCEPT_SEQ = #{cellExceptSeq}
  </update>

</mapper>