<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <mappers>
    <mapper resource="InvoicePrintCompletMapper.xml"/>
    <mapper resource="InvoiceSortCompletMapper.xml"/>
    <mapper resource="LogApiStatusMapper.xml"/>
    <mapper resource="LogBatchExecMapper.xml"/>
    <mapper resource="OrdmadeNotfullyMapper.xml"/>
    <mapper resource="OrdmadeNotfullyReplayConfirmMapper.xml"/>
    <mapper resource="OrdmadeNotfullyReplayMapper.xml"/>
    <mapper resource="PackQpsCompletMapper.xml"/>
    <mapper resource="PickQpsCompletMapper.xml"/>
    <mapper resource="ToteCellExceptTxnMapper.xml"/>
    <mapper resource="ToteReleaseMapper.xml"/>
    <mapper resource="ToteScanMapper.xml"/>
  </mappers>
</configuration>